.root {
  /* height: 100%; */
  /* border: 2px red solid; */
}
.board {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  /* border: 2px yellow solid; */
}
.team-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 24px;
  /* border: 2px solid white; */
}

.start-button {
  align-self: center;
}
.team-header {
  padding: 0 30px;
}
.round-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -20%;
  height: 22vh;

  /* border: 2px solid red; */
}
.team-round-div {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-around;
  /* width: 70%;
  height: 17vh; */
  /* border: 2px solid white; */
}
.card-game-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.game-buttons-div {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  align-self: center;
  margin-top: 12%;
  height: 6vh;
  /* border: 2px solid white; */
}
.game-button {
  width: 64px;
}

.card-div {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;

  /* border: 2px aqua double; */
}
.card {
  display: flex;
  flex-direction: column;
  align-self: center;
  border: 2px solid #c6c6c6;
  border-radius: 56px;
  width: 300px;
  height: 55vh;

  margin-top: 2%;
}
.card-pending {
  display: flex;
  flex-direction: column;
  align-self: center;
  border: 2px solid #c6c6c6;
  border-radius: 56px;
  width: 300px;
  height: 50vh;

  margin-top: 2%;
}

.card-word {
  /* height: 150px; */
  flex-grow: 7;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: white;
  font-size: 42px;
  font-weight: bold;
}

.card-word-ready {
  /* height: 150px; */
  flex-grow: 7;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: white;
  font-size: 24px;
  font-weight: bold;
}

.card-category {
  flex-grow: 1;
  padding: 5px 0px 5px 0px;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 35px;
  line-height: 20px;
  color: #fff4f4;
  /* border: 1px dotted white; */
  /* overflow: hidden; */
}
.timer-text {
  font-size: 64px;
  font-weight: 600;
}
.curr-team-text {
  font-size: larger;
  font-weight: 500;
  margin-top: 16px;
}
.points-update-text {
  font-size: 24px;
  font-style: italic;
  margin-top: 32px;
}
.info-text {
  font-size: 32px;
  font-style: italic;
  /* margin-top: 16px; */
}
.score-text {
  font-size: 24px;
  font-style: italic;
  margin-top: -7%;
}
.finish-div {
  margin-top: 15%;
}
.helper-text {
  font-size: 24px;
}
.border-top {
  border-radius: 56px 56px 0px 0px;
}
.border-bottom {
  border-radius: 0px 0px 56px 56px;
}

.player {
  display: inline-block;
  width: 80%;
  height: 80%;
}

.cell {
  vertical-align: middle;
  text-align: center;
  display: table-cell;
  height: 50px;
  width: 50px;
}

table {
  border-collapse: separate;
  border-spacing: 0 3px;
}

.inactive {
  filter: brightness(0.55);
}

.object {
  background-color: #0099da;
}
.action {
  background-color: #f37027;
}
.wild {
  /*background-color: #BB99DA*/
  background-color: #ffffff;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px' viewBox='68.547 122.681 537.423 635.165' ><path d='M172.533 348.49c-195.31 199.54-5.352 344.87 149.07 249.6.841 49.146-37.692 95.028-61.394 138.9h166.73c-24.41-42.64-65.17-89.61-66.66-138.9 157.66 90.57 325.33-67.37 150.39-249.6-91.22-100.08-148.24-177.95-169.73-204.42-19.602 25.809-71.82 101.7-168.41 204.42z'/></svg>");
  background-repeat: no-repeat;
  background-position: center;
}
.world {
  background-color: #016fa5;
}
.person {
  background-color: #ffcb04;
}
.random {
  background-color: #ed1c24;
}
.nature {
  background-color: #008752;
}
